
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
 <f:format.raw>
 <script type="text/javascript">{styles.script}
 </script>
 </f:format.raw>
    <div id="myCanvasContainer">
      <canvas width="{styles.canvasWidth}" height="{styles.canvasHeight}" style="background-color:{styles.canvasbg};" id="myCanvas">
             <p>Anything in here will be replaced on browsers that support the canvas element</p>
      </canvas>
    </div>
 
    <div id="tags" style="display: none;">
      <ul class="weighted" style="font-size: 50%" id="weightTags">
       <f:for each="{tags}" as="tag">
          <li><f:link.external uri="{tag.linkurl}" style="font-size:{tag.linksize}px" target="_blank"> {tag.link} </f:link.external>
          </li>
      </f:for>
      </ul>
    </div>
</f:section>