
<f:layout name="Default" />

This Template is responsible for displaying a single view for a domain object

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Show.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder


<f:section name="main">
 <f:format.raw>
    <script type="text/javascript">{styles.script}
 </script>
 </f:format.raw>
    <div id="{styles.container_ID}">
        <canvas width="{styles.canvasWidth}" height="{styles.canvasHeight}" style="background-color:{styles.canvasbg};" id="{styles.element_ID}">
            <p>Anything in here will be replaced on browsers that support the canvas element</p>
        </canvas>
    </div>

    <div id="{styles.tag_ID}" style="display: none;">
        <ul class="weighted" style="font-size: 50%" id="textTags">
            <f:for each="{tags}" as="tag" iteration="t2">
               <f:if condition="{t2}!={t2.isLast}">
                    <f:for each="{tag}" as="tagD" iteration="t1">
                   
                      <f:if condition="{tags.target}!=''">
                        <f:then>
                            <f:if condition="{tagD.additionalParams}">
                                <f:then>
                                    <li>
                                   
                                        <f:link.page pageUid="{tags.target}" style="font-size:{tagD.size}px" additionalParams="{tagD.additionalParams}" target="_blank"> {tagD.tag} </f:link.page>
                                    </li>
                                </f:then>
                                <f:else>
                                    <li>                                   
                                        <f:link.page pageUid="{tags.target}" style="font-size:{tagD.size}px" target="_blank"> {tagD.tag} </f:link.page>
                                    </li>
                                </f:else>
                            </f:if>
                        </f:then>
                        <f:else>
                            <f:if condition="{tagD.additionalParams}!=''">
                                <f:then>
                                    <li>                        
                                        <f:link.page pageUid="{tagD.taglink}" additionalParams="{tagD.additionalParams}" style="font-size:{tagD.size}px" target="_blank"> {tagD.tag} </f:link.page>
                                    </li>
                                    </f:then>
                                    <f:else>       
                                        <li><f:link.page pageUid="{tagD.taglink}" style="font-size:{tagD.size}px" target="_blank"> {tagD.tag} </f:link.page>
                                        </li>
                                    </f:else>
                                  </f:if>
                              </f:else>
                        </f:if>
                        </f:for>
                    </f:if>
                  </f:for>
            </ul>
        </div>
    </f:section>
    