
<table class="tx-pits-tagcloud" >
	<tr>
		<td>
			<f:translate key="tx_pitstagcloud_domain_model_imagetag.image" />
		</td>
		<td>
				<f:image src="{imageTag.image.originalResource.publicUrl}" width="200"/>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_pitstagcloud_domain_model_imagetag.width" />
		</td>
		<td>
		{imageTag.width}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_pitstagcloud_domain_model_imagetag.height" />
		</td>
		<td>
		{imageTag.height}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_pitstagcloud_domain_model_imagetag.link_url" />
		</td>
		<td>
		{imageTag.linkUrl}
		</td>
	</tr>
</table>